In [2]:
import pandas as pd
import polars as pl

In [6]:
df.head()

,PRODUCTIE_ID,FOI_ID_LEVERANCIER,BRON_SIGNAAL,TYPE_SIGNAAL,SOORT_SIGNAAL,AANTAL_PIXELS,AANTAL_GEBRUIKTE_PIXELS,DATUM_BEELD,CREATIE_DATUM_SIGNAAL,TYPE_WAARDE,BEREKENDE_WAARDE,CONFIGURATIE_ID
0,71115511-1811-1111-1112-134511511611,31196,Sentinel-2,Optisch,ARVI,72,72,18-01-2023 00:00:00,10-11-2023 00:00:00,gemiddelde,0.109151,08886fb6-444b-47a6-abdf-265f65788523
1,71115511-1811-1111-1112-134511511611,31196,Sentinel-2,Optisch,ARVI,72,72,30-01-2023 00:00:00,10-11-2023 00:00:00,gemiddelde,0.164931,08886fb6-444b-47a6-abdf-265f65788523
2,71115511-1811-1111-1112-134511511611,31196,Sentinel-2,Optisch,ARVI,72,72,02-02-2023 00:00:00,10-11-2023 00:00:00,gemiddelde,0.193731,08886fb6-444b-47a6-abdf-265f65788523
3,71115511-1811-1111-1112-134511511611,31196,Sentinel-2,Optisch,ARVI,72,72,14-02-2023 00:00:00,10-11-2023 00:00:00,gemiddelde,0.169661,08886fb6-444b-47a6-abdf-265f65788523
4,71115511-1811-1111-1112-134511511611,31196,Sentinel-2,Optisch,ARVI,72,72,27-02-2023 00:00:00,10-11-2023 00:00:00,gemiddelde,0.102017,08886fb6-444b-47a6-abdf-265f65788523

In [24]:
import polars as pl
df = pl.scan_csv("/mnt/satsuma/H/B126_Guilly_crop_classification/sinergise_export_run6_v2/NEO_07_24-10-2023_2023_1_S1COH.csv", separator=';')

In [27]:
df.fetch(5)
df = df.drop(["PRODUCTIE_ID", "BRON_SIGNAAL", "TYPE_SIGNAAL", "AANTAL_PIXELS", "AANTAL_GEBRUIKTE_PIXELS", "CREATIE_DATUM_SIGNAAL", "CONFIGURATIE_ID"])
df.fetch(5)
df.collect()

shape: (26_880_310, 5)
┌────────────────────┬───────────────┬─────────────────────┬─────────────┬──────────────────┐
│ FOI_ID_LEVERANCIER ┆ SOORT_SIGNAAL ┆ DATUM_BEELD         ┆ TYPE_WAARDE ┆ BEREKENDE_WAARDE │
│ ---                ┆ ---           ┆ ---                 ┆ ---         ┆ ---              │
│ i64                ┆ str           ┆ str                 ┆ str         ┆ f64              │
╞════════════════════╪═══════════════╪═════════════════════╪═════════════╪══════════════════╡
│ 31196              ┆ VV_coherence  ┆ 07-01-2023 00:00:00 ┆ gemiddelde  ┆ 0.7411497        │
│ 31196              ┆ VV_coherence  ┆ 14-01-2023 00:00:00 ┆ gemiddelde  ┆ 0.8230547        │
│ 31196              ┆ VV_coherence  ┆ 19-01-2023 00:00:00 ┆ gemiddelde  ┆ 0.744555         │
│ 31196              ┆ VV_coherence  ┆ 26-01-2023 00:00:00 ┆ gemiddelde  ┆ 0.818114         │
│ 31196              ┆ VV_coherence  ┆ 31-01-2023 00:00:00 ┆ gemiddelde  ┆ 0.8643555        │
│ …                  ┆ …             ┆ …                   ┆ …           ┆ …                │
│ 2731464            ┆ VV_coherence  ┆ 06-09-2023 00:00:00 ┆ gemiddelde  ┆ 0.440766         │
│ 2731464            ┆ VV_coherence  ┆ 08-09-2023 00:00:00 ┆ gemiddelde  ┆ 0.3937209        │
│ 2731464            ┆ VV_coherence  ┆ 27-09-2023 00:00:00 ┆ gemiddelde  ┆ 0.440842         │
│ 2731464            ┆ VV_coherence  ┆ 30-09-2023 00:00:00 ┆ gemiddelde  ┆ 0.49952          │
│ 2731464            ┆ VV_coherence  ┆ 14-10-2023 00:00:00 ┆ gemiddelde  ┆ 0.2812985        │
└────────────────────┴───────────────┴─────────────────────┴─────────────┴──────────────────┘

In [5]:
import matplotlib.pyplot as plt
one_foi_pd = one_foi.to_pandas()
groups = one_foi_pd.groupby(['SOORT_SIGNAAL', "TYPE_WAARDE"])
dates = one_foi_pd['DATUM_BEELD'].unique()
for name, group in groups:
    # group = group.sort_values(by='DATUM_BEELD')
    plt.plot(group['DATUM_BEELD'], group['BEREKENDE_WAARDE'], marker='o', linestyle='-', label=name)
    plt.xticks(rotation=45)
    plt.xticks(range(0, len(dates), 10))
    plt.legend()
    plt.show()

NameError: name 'one_foi' is not defined

In [28]:
df_pd = df.collect().to_pandas()

In [31]:
df_pd[df_pd['FOI_ID_LEVERANCIER'] == 31196]

,FOI_ID_LEVERANCIER,SOORT_SIGNAAL,DATUM_BEELD,TYPE_WAARDE,BEREKENDE_WAARDE
0,31196,VV_coherence,07-01-2023 00:00:00,gemiddelde,0.741150
1,31196,VV_coherence,14-01-2023 00:00:00,gemiddelde,0.823055
2,31196,VV_coherence,19-01-2023 00:00:00,gemiddelde,0.744555
3,31196,VV_coherence,26-01-2023 00:00:00,gemiddelde,0.818114
4,31196,VV_coherence,31-01-2023 00:00:00,gemiddelde,0.864356
5,31196,VV_coherence,07-02-2023 00:00:00,gemiddelde,0.874375
6,31196,VV_coherence,12-02-2023 00:00:00,gemiddelde,0.846588
7,31196,VV_coherence,16-02-2023 00:00:00,gemiddelde,0.715560
8,31196,VV_coherence,19-02-2023 00:00:00,gemiddelde,0.812263
9,31196,VV_coherence,24-02-2023 00:00:00,gemiddelde,0.783788
10,31196,VV_coherence,28-02-2023 00:00:00,gemiddelde,0.828855
11,31196,VV_coherence,03-03-2023 00:00:00,gemiddelde,0.805570
12,31196,VV_coherence,08-03-2023 00:00:00,gemiddelde,0.777067
13,31196,VV_coherence,12-03-2023 00:00:00,gemiddelde,0.691491
14,31196,VV_coherence,15-03-2023 00:00:00,gemiddelde,0.730804
15,31196,VV_coherence,20-03-2023 00:00:00,gemiddelde,0.833292
16,31196,VV_coherence,27-03-2023 00:00:00,gemiddelde,0.846597
17,31196,VV_coherence,01-04-2023 00:00:00,gemiddelde,0.828993
18,31196,VV_coherence,08-04-2023 00:00:00,gemiddelde,0.833064
19,31196,VV_coherence,13-04-2023 00:00:00,gemiddelde,0.756747
20,31196,VV_coherence,20-04-2023 00:00:00,gemiddelde,0.644937
21,31196,VV_coherence,02-05-2023 00:00:00,gemiddelde,0.257457
22,31196,VV_coherence,11-05-2023 00:00:00,gemiddelde,0.308831
23,31196,VV_coherence,14-05-2023 00:00:00,gemiddelde,0.326100
24,31196,VV_coherence,19-05-2023 00:00:00,gemiddelde,0.493768
25,31196,VV_coherence,26-05-2023 00:00:00,gemiddelde,0.312715
26,31196,VV_coherence,31-05-2023 00:00:00,gemiddelde,0.322124
27,31196,VV_coherence,04-06-2023 00:00:00,gemiddelde,0.486636
28,31196,VV_coherence,07-06-2023 00:00:00,gemiddelde,0.573249
29,31196,VV_coherence,12-06-2023 00:00:00,gemiddelde,0.387139
30,31196,VV_coherence,16-06-2023 00:00:00,gemiddelde,0.419045
31,31196,VV_coherence,19-06-2023 00:00:00,gemiddelde,0.524278
32,31196,VV_coherence,24-06-2023 00:00:00,gemiddelde,0.420830
33,31196,VV_coherence,01-07-2023 00:00:00,gemiddelde,0.344765
34,31196,VV_coherence,06-07-2023 00:00:00,gemiddelde,0.332290
35,31196,VV_coherence,10-07-2023 00:00:00,gemiddelde,0.322501
36,31196,VV_coherence,13-07-2023 00:00:00,gemiddelde,0.301690
37,31196,VV_coherence,18-07-2023 00:00:00,gemiddelde,0.313059
38,31196,VV_coherence,25-07-2023 00:00:00,gemiddelde,0.294483
39,31196,VV_coherence,30-07-2023 00:00:00,gemiddelde,0.364424
40,31196,VV_coherence,06-08-2023 00:00:00,gemiddelde,0.324520
41,31196,VV_coherence,11-08-2023 00:00:00,gemiddelde,0.338352
42,31196,VV_coherence,15-08-2023 00:00:00,gemiddelde,0.312970
43,31196,VV_coherence,18-08-2023 00:00:00,gemiddelde,0.414520
44,31196,VV_coherence,23-08-2023 00:00:00,gemiddelde,0.278224
45,31196,VV_coherence,30-08-2023 00:00:00,gemiddelde,0.313383
46,31196,VV_coherence,04-09-2023 00:00:00,gemiddelde,0.346546
47,31196,VV_coherence,11-09-2023 00:00:00,gemiddelde,0.320229
48,31196,VV_coherence,16-09-2023 00:00:00,gemiddelde,0.275944
49,31196,VV_coherence,23-09-2023 00:00:00,gemiddelde,0.308370
50,31196,VV_coherence,28-09-2023 00:00:00,gemiddelde,0.453239
51,31196,VV_coherence,05-10-2023 00:00:00,gemiddelde,0.389066
52,31196,VV_coherence,10-10-2023 00:00:00,gemiddelde,0.325658
53,31196,VV_coherence,14-10-2023 00:00:00,gemiddelde,0.342634

In [33]:
groups = df_pd.groupby("SOORT_SIGNAAL")
print(len(groups))
for i, (name, group)in enumerate(groups):
    # if i == 0:
    #     df_vh = group
    # else:
    df_vv = group
display(df_vv.head())
display(df_vh.head())

1

,FOI_ID_LEVERANCIER,SOORT_SIGNAAL,DATUM_BEELD,TYPE_WAARDE,BEREKENDE_WAARDE
0,31196,VV_coherence,07-01-2023 00:00:00,gemiddelde,0.741150
1,31196,VV_coherence,14-01-2023 00:00:00,gemiddelde,0.823055
2,31196,VV_coherence,19-01-2023 00:00:00,gemiddelde,0.744555
3,31196,VV_coherence,26-01-2023 00:00:00,gemiddelde,0.818114
4,31196,VV_coherence,31-01-2023 00:00:00,gemiddelde,0.864356

,FOI_ID_LEVERANCIER,SOORT_SIGNAAL,DATUM_BEELD,TYPE_WAARDE,BEREKENDE_WAARDE
0,31196,VV_coherence,07-01-2023 00:00:00,gemiddelde,0.741150
1,31196,VV_coherence,14-01-2023 00:00:00,gemiddelde,0.823055
2,31196,VV_coherence,19-01-2023 00:00:00,gemiddelde,0.744555
3,31196,VV_coherence,26-01-2023 00:00:00,gemiddelde,0.818114
4,31196,VV_coherence,31-01-2023 00:00:00,gemiddelde,0.864356

In [34]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import pandas as pd
from tqdm import tqdm
import warnings
warnings.filterwarnings('ignore')
df = df_vv
df = df[df["TYPE_WAARDE"] == "gemiddelde"]
processed_df = pd.read_parquet("/home/guilly/iTransformer/dataset/Netherlands/preprocessed_data.parquet")
# df = pd.read_csv("/mnt/satsuma/H/B126_Guilly_crop_classification/sinergise_export_run6_v2/NEO_07_10-11-2023_2023_1_S1COH.csv", sep=';')

date_range = pd.date_range(start='2023-01-17', end='2023-10-29', freq='10D')
print(date_range)

# Convert 'datum_beeld' column to datetime type
df['DATUM_BEELD'] = pd.to_datetime(pd.to_datetime(df['DATUM_BEELD'], format="%d-%m-%Y %H:%M:%S").dt.strftime('%Y-%m-%d'), format="%Y-%m-%d")
# df.drop(['PRODUCTIE_ID', 'BRON_SIGNAAL', 'TYPE_SIGNAAL','TYPE_WAARDE', 'AANTAL_PIXELS', 'AANTAL_GEBRUIKTE_PIXELS', 'CREATIE_DATUM_SIGNAAL', 'CONFIGURATIE_ID'], axis=1, inplace=True)
# Group the dataframe by 'FOI_ID_LEVERANCIER'
grouped = df.groupby('FOI_ID_LEVERANCIER')

# Create an empty list to store the interpolated dataframes
interpolated_dfs = []
# display(df_encoded[df_encoded['FOI_ID_LEVERANCIER'] == 19317])

for group_name, group_df in tqdm(grouped):
    # Set 'DATUM_BEELD' as the index
    if group_name in processed_df['FOI_ID_LEVERANCIER'].values:
        group_df = group_df.set_index('DATUM_BEELD')

        # Resample to daily frequency
        interpolated_group = group_df.resample('D').asfreq()
        # Interpolate missing values
        interpolated_group = interpolated_group.interpolate(method='linear')

        # Check if there are missing dates at the start
        if interpolated_group.index.min() > date_range[0]:
            missing_date_range_start = pd.date_range(start=date_range[0], end=interpolated_group.index.min() - pd.Timedelta(days=1), freq='D')
            missing_df_start = pd.DataFrame(index=missing_date_range_start)
            missing_df_start['FOI_ID_LEVERANCIER'] = group_name  # Add the group name to the missing rows
            interpolated_group = pd.concat([missing_df_start, interpolated_group])

        # Check if there are missing dates at the end
        if interpolated_group.index.max() < date_range[-1]:
            missing_date_range_end = pd.date_range(start=interpolated_group.index.max() + pd.Timedelta(days=1), end=date_range[-1], freq='D')
            missing_df_end = pd.DataFrame(index=missing_date_range_end)
            missing_df_end['FOI_ID_LEVERANCIER'] = group_name  # Add the group name to the missing rows
            interpolated_group = pd.concat([interpolated_group, missing_df_end])

        interpolated_group.fillna(0, inplace=True)
        # Select dates from date_range
        # interpolated_group = interpolated_group.loc[date_range]

        interpolated_dfs.append(interpolated_group)
# Concatenate the interpolated dataframes back into a single dataframe
interpolated_df = pd.concat(interpolated_dfs)

# Reset the index to make 'DATUM_BEELD' a column again
interpolated_df = interpolated_df.reset_index()
interpolated_df = interpolated_df.rename(columns={'DATUM_BEELD': 'date'})
interpolated_df = interpolated_df.rename(columns={'BEREKENDE_WAARDE': 'BEREKENDE_WAARDE_VV_coherence'})


# Print the interpolated dataframe
# display(interpolated_df)
# display(interpolated_df[interpolated_df['FOI_ID_LEVERANCIER'] == 19317 ])
# display(df_encoded[df_encoded['FOI_ID_LEVERANCIER'] == 19317])
display(interpolated_df[interpolated_df['FOI_ID_LEVERANCIER'] == 19317])
display(interpolated_df)
print(interpolated_df.isna().sum())

DatetimeIndex(['2023-01-17', '2023-01-27', '2023-02-06', '2023-02-16',
               '2023-02-26', '2023-03-08', '2023-03-18', '2023-03-28',
               '2023-04-07', '2023-04-17', '2023-04-27', '2023-05-07',
               '2023-05-17', '2023-05-27', '2023-06-06', '2023-06-16',
               '2023-06-26', '2023-07-06', '2023-07-16', '2023-07-26',
               '2023-08-05', '2023-08-15', '2023-08-25', '2023-09-04',
               '2023-09-14', '2023-09-24', '2023-10-04', '2023-10-14',
               '2023-10-24'],
              dtype='datetime64[ns]', freq='10D')

100%|██████████| 746794/746794 [55:04<00:00, 225.99it/s]

,index,FOI_ID_LEVERANCIER,SOORT_SIGNAAL,TYPE_WAARDE,BEREKENDE_WAARDE_VV_coherence
472375,2023-01-16,19317.0,VV_coherence,gemiddelde,0.863149
472376,2023-01-17,19317.0,0,0,0.866220
472377,2023-01-18,19317.0,0,0,0.869291
472378,2023-01-19,19317.0,0,0,0.872361
472379,2023-01-20,19317.0,0,0,0.875432
...,...,...,...,...,...
472652,2023-10-20,19317.0,0,0,0.000000
472653,2023-10-21,19317.0,0,0,0.000000
472654,2023-10-22,19317.0,0,0,0.000000
472655,2023-10-23,19317.0,0,0,0.000000
472656,2023-10-24,19317.0,0,0,0.000000

,index,FOI_ID_LEVERANCIER,SOORT_SIGNAAL,TYPE_WAARDE,BEREKENDE_WAARDE_VV_coherence
0,2023-01-14,338.0,VV_coherence,gemiddelde,0.873163
1,2023-01-15,338.0,0,0,0.861872
2,2023-01-16,338.0,0,0,0.850581
3,2023-01-17,338.0,0,0,0.839290
4,2023-01-18,338.0,0,0,0.827999
...,...,...,...,...,...
54468056,2023-10-20,2789500.0,0,0,0.000000
54468057,2023-10-21,2789500.0,0,0,0.000000
54468058,2023-10-22,2789500.0,0,0,0.000000
54468059,2023-10-23,2789500.0,0,0,0.000000
54468060,2023-10-24,2789500.0,0,0,0.000000

index                            0
FOI_ID_LEVERANCIER               0
SOORT_SIGNAAL                    0
TYPE_WAARDE                      0
BEREKENDE_WAARDE_VV_coherence    0
dtype: int64

In [35]:
interpolated_df.to_csv("/home/guilly/iTransformer/dataset/Netherlands/S1_COH_2023.csv", index=False)

In [21]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import pandas as pd
from tqdm import tqdm
import warnings
warnings.filterwarnings('ignore')
df = df_vh
df = df[df["TYPE_WAARDE"] == "gemiddelde"]
processed_df = pd.read_parquet("/home/guilly/iTransformer/dataset/Netherlands/preprocessed_data.parquet")
# df = pd.read_csv("/mnt/satsuma/H/B126_Guilly_crop_classification/sinergise_export_run6_v2/NEO_07_10-11-2023_2023_1_S1COH.csv", sep=';')

date_range = pd.date_range(start='2023-01-17', end='2023-10-29', freq='1D')
print(date_range)

# Convert 'datum_beeld' column to datetime type
df['DATUM_BEELD'] = pd.to_datetime(pd.to_datetime(df['DATUM_BEELD'], format="%d-%m-%Y %H:%M:%S").dt.strftime('%Y-%m-%d'), format="%Y-%m-%d")
# df.drop(['PRODUCTIE_ID', 'BRON_SIGNAAL', 'TYPE_SIGNAAL','TYPE_WAARDE', 'AANTAL_PIXELS', 'AANTAL_GEBRUIKTE_PIXELS', 'CREATIE_DATUM_SIGNAAL', 'CONFIGURATIE_ID'], axis=1, inplace=True)
# Group the dataframe by 'FOI_ID_LEVERANCIER'
grouped = df.groupby('FOI_ID_LEVERANCIER')

# Create an empty list to store the interpolated dataframes
interpolated_dfs = []
# display(df_encoded[df_encoded['FOI_ID_LEVERANCIER'] == 19317])

for group_name, group_df in tqdm(grouped):
    # Set 'DATUM_BEELD' as the index
    if group_name in processed_df['FOI_ID_LEVERANCIER'].values:
        group_df = group_df.set_index('DATUM_BEELD')

        # Resample to daily frequency
        interpolated_group = group_df.resample('D').asfreq()
        # Interpolate missing values
        interpolated_group = interpolated_group.interpolate(method='linear')

        # Check if there are missing dates at the start
        if interpolated_group.index.min() > date_range[0]:
            missing_date_range_start = pd.date_range(start=date_range[0], end=interpolated_group.index.min() - pd.Timedelta(days=1), freq='D')
            missing_df_start = pd.DataFrame(index=missing_date_range_start)
            missing_df_start['FOI_ID_LEVERANCIER'] = group_name  # Add the group name to the missing rows
            interpolated_group = pd.concat([missing_df_start, interpolated_group])

        # Check if there are missing dates at the end
        if interpolated_group.index.max() < date_range[-1]:
            missing_date_range_end = pd.date_range(start=interpolated_group.index.max() + pd.Timedelta(days=1), end=date_range[-1], freq='D')
            missing_df_end = pd.DataFrame(index=missing_date_range_end)
            missing_df_end['FOI_ID_LEVERANCIER'] = group_name  # Add the group name to the missing rows
            interpolated_group = pd.concat([interpolated_group, missing_df_end])

        interpolated_group.fillna(0, inplace=True)
        # Select dates from date_range
        # interpolated_group = interpolated_group.loc[date_range]

        interpolated_dfs.append(interpolated_group)
# Concatenate the interpolated dataframes back into a single dataframe
interpolated_df = pd.concat(interpolated_dfs)

# Reset the index to make 'DATUM_BEELD' a column again
interpolated_df = interpolated_df.reset_index()
interpolated_df = interpolated_df.rename(columns={'DATUM_BEELD': 'date'})
interpolated_df = interpolated_df.rename(columns={'BEREKENDE_WAARDE': 'BEREKENDE_WAARDE_VH_backscatter'})
# Print the interpolated dataframe
# display(interpolated_df)
# display(interpolated_df[interpolated_df['FOI_ID_LEVERANCIER'] == 19317 ])
# display(df_encoded[df_encoded['FOI_ID_LEVERANCIER'] == 19317])
display(interpolated_df[interpolated_df['FOI_ID_LEVERANCIER'] == 19317])
# display(interpolated_df)
print(interpolated_df.isna().sum())

DatetimeIndex(['2023-01-17', '2023-01-18', '2023-01-19', '2023-01-20',
               '2023-01-21', '2023-01-22', '2023-01-23', '2023-01-24',
               '2023-01-25', '2023-01-26',
               ...
               '2023-10-20', '2023-10-21', '2023-10-22', '2023-10-23',
               '2023-10-24', '2023-10-25', '2023-10-26', '2023-10-27',
               '2023-10-28', '2023-10-29'],
              dtype='datetime64[ns]', length=286, freq='D')

100%|██████████| 746794/746794 [53:31<00:00, 232.56it/s]

,index,FOI_ID_LEVERANCIER,SOORT_SIGNAAL,TYPE_WAARDE,BEREKENDE_WAARDE_VH_backscatter
502438,2023-01-04,19317.0,VH_backscatter,gemiddelde,-11.704223
502439,2023-01-05,19317.0,0,0,-11.629843
502440,2023-01-06,19317.0,VH_backscatter,gemiddelde,-11.555462
502441,2023-01-07,19317.0,0,0,-11.606169
502442,2023-01-08,19317.0,0,0,-11.656877
...,...,...,...,...,...
502732,2023-10-25,19317.0,0,0,0.000000
502733,2023-10-26,19317.0,0,0,0.000000
502734,2023-10-27,19317.0,0,0,0.000000
502735,2023-10-28,19317.0,0,0,0.000000
502736,2023-10-29,19317.0,0,0,0.000000

index                              0
FOI_ID_LEVERANCIER                 0
SOORT_SIGNAAL                      0
TYPE_WAARDE                        0
BEREKENDE_WAARDE_VH_backscatter    0
dtype: int64

In [5]:
import pandas as pd
import polars as pl
# interpolated_df.to_csv("/home/guilly/iTransformer/dataset/Netherlands/S1_VH_2023.csv", index=False)
d = pd.read_csv("/home/guilly/iTransformer/dataset/Netherlands/S1_VV_2023.csv")
d.reset_index()
d.rename(columns={'index': 'date'}, inplace=True)
display(d.head())
d.to_csv("/home/guilly/iTransformer/dataset/Netherlands/S1_VV_2023.csv")
# f = pd.read_parquet("/home/guilly/iTransformer/dataset/Netherlands/preprocessed_data.parquet")
# f.head()

,date,FOI_ID_LEVERANCIER,SOORT_SIGNAAL,TYPE_WAARDE,BEREKENDE_WAARDE_VV_backscatter
0,2023-01-02,338.0,VV_backscatter,gemiddelde,-1.677232
1,2023-01-03,338.0,0,0,-1.263618
2,2023-01-04,338.0,0,0,-0.850004
3,2023-01-05,338.0,0,0,-0.436390
4,2023-01-06,338.0,VV_backscatter,gemiddelde,-0.022776

In [13]:
c = pl.scan_csv("/home/guilly/iTransformer/dataset/Netherlands/S1_VV_2023.csv")
c.fetch(5)
c.columns

['',
 'date',
 'FOI_ID_LEVERANCIER',
 'SOORT_SIGNAAL',
 'TYPE_WAARDE',
 'BEREKENDE_WAARDE_VV_backscatter']

In [27]:

def preprocess(merged_df, path):
    lazy_data = pl.scan_csv(path)
    col_to_use = ["FOI_ID_LEVERANCIER", "date", "TYPE_WAARDE", "BEREKENDE_WAARDE"]

# Perform the left join operation
    merged_df = merged_df.join(lazy_data.select(pl.col(["FOI_ID_LEVERANCIER", "date", "BEREKENDE_WAARDE_VH_backscatter"])),
                                on=["FOI_ID_LEVERANCIER", "date"], how="outer").drop(["FOI_ID_LEVERANCIER_right", "date_right"])

    # name = lazy_data.select(pl.first("SOORT_SIGNAAL")).collect()[0][0]
    # merged_df = merged_df.rename({"BEREKENDE_WAARDE": "BEREKENDE_WAARDE_" +str(name.item())})
    # merged_df.headc ().collect()
    return merged_df

# merged_df = pl.scan_parquet('/home/guilly/iTransformer/dataset/Netherlands/Netherlands_interpolated_df1.parquet')
# merged_df = pl.scan_csv("/home/guilly/iTransformer/dataset/Netherlands/S1_VV_2023.csv")
path = "/home/guilly/iTransformer/dataset/Netherlands/S1_VH_2023.csv"
merged_df = preprocess(merged_df, path)
merged_df.collect()

/tmp/ipykernel_865/3449492872.py:6: DeprecationWarning: Use of `how='outer'` should be replaced with `how='full'`.
  merged_df = merged_df.join(lazy_data.select(pl.col(["FOI_ID_LEVERANCIER", "date", "BEREKENDE_WAARDE_VH_backscatter"])),

shape: (57_912_945, 8)
┌──────┬────────────┬─────────────┬────────────┬────────────┬────────────┬────────────┬────────────┐
│      ┆ date       ┆ FOI_ID_LEVE ┆ SOORT_SIGN ┆ TYPE_WAARD ┆ BEREKENDE_ ┆ BEREKENDE_ ┆ BEREKENDE_ │
│ ---  ┆ ---        ┆ RANCIER     ┆ AAL        ┆ E          ┆ WAARDE_VV_ ┆ WAARDE_VV_ ┆ WAARDE_VH_ │
│ i64  ┆ str        ┆ ---         ┆ ---        ┆ ---        ┆ backscatte ┆ coherence  ┆ backscatte │
│      ┆            ┆ f64         ┆ str        ┆ str        ┆ …          ┆ ---        ┆ …          │
│      ┆            ┆             ┆            ┆            ┆ ---        ┆ f64        ┆ ---        │
│      ┆            ┆             ┆            ┆            ┆ f64        ┆            ┆ f64        │
╞══════╪════════════╪═════════════╪════════════╪════════════╪════════════╪════════════╪════════════╡
│ 0    ┆ 2023-01-02 ┆ 338.0       ┆ VV_backsca ┆ gemiddelde ┆ -1.677232  ┆ null       ┆ -15.856924 │
│      ┆            ┆             ┆ tter       ┆            ┆            ┆            ┆            │
│ 1    ┆ 2023-01-03 ┆ 338.0       ┆ 0          ┆ 0          ┆ -1.263618  ┆ null       ┆ -15.842116 │
│ 2    ┆ 2023-01-04 ┆ 338.0       ┆ 0          ┆ 0          ┆ -0.850004  ┆ null       ┆ -15.827308 │
│ 3    ┆ 2023-01-05 ┆ 338.0       ┆ 0          ┆ 0          ┆ -0.43639   ┆ null       ┆ -15.8125   │
│ 4    ┆ 2023-01-06 ┆ 338.0       ┆ VV_backsca ┆ gemiddelde ┆ -0.022776  ┆ null       ┆ -15.797692 │
│      ┆            ┆             ┆ tter       ┆            ┆            ┆            ┆            │
│ …    ┆ …          ┆ …           ┆ …          ┆ …          ┆ …          ┆ …          ┆ …          │
│ null ┆ null       ┆ null        ┆ null       ┆ null       ┆ null       ┆ null       ┆ 0.0        │
│ null ┆ null       ┆ null        ┆ null       ┆ null       ┆ null       ┆ null       ┆ 0.0        │
│ null ┆ null       ┆ null        ┆ null       ┆ null       ┆ null       ┆ null       ┆ 0.0        │
│ null ┆ null       ┆ null        ┆ null       ┆ null       ┆ null       ┆ null       ┆ 0.0        │
│ null ┆ null       ┆ null        ┆ null       ┆ null       ┆ null       ┆ null       ┆ 0.0        │
└──────┴────────────┴─────────────┴────────────┴────────────┴────────────┴────────────┴────────────┘

In [31]:
# Create a boolean mask where True indicates the presence of a null value in a row
pandas_df = merged_df.collect().to_pandas()
# merged_df.collect()
pandas_df.to_parquet("/home/guilly/iTransformer/dataset/Netherlands/Netherlands_Sentinel1.parquet")

In [38]:
# display(pandas_df[pandas_df['FOI_ID_LEVERANCIER'] == 338][0:20])
pandas_df = pd.read_parquet("/home/guilly/iTransformer/dataset/Netherlands/Netherlands_Sentinel1.parquet")
pandas_df.dropna(subset=['FOI_ID_LEVERANCIER'], inplace=True)
pandas_df.fillna(0, inplace=True)
pandas_df
pandas_df.to_parquet("/home/guilly/iTransformer/dataset/Netherlands/Netherlands_Sentinel1.parquet")
# null_rows = pandas_df.isnull().sum(axis=1)
# num_null_rows = len(null_rows[null_rows > 0])
# print("Number of rows with null values:", num_null_rows)

In [6]:
grp = pandas_df.groupby("FOI_ID_LEVERANCIER")
for name, group in grp:
    if group.isnull().any().any():
        print(name)
        print(group)
        print("\n")

In [15]:
merged_df = pl.scan_parquet("/home/guilly/iTransformer/dataset/Netherlands/preprocessed_data.parquet")
# Replace 'column_name' with the name of the column you're interested in

unique_count = merged_df.unique(subset=["FOI_ID_LEVERANCIER"], maintain_order=True).collect()

print("Number of unique values in column:", unique_count)

Number of unique values in column: shape: (192_772, 11)
┌────────────┬───────────┬───────────┬───────────┬───┬───────────┬─────────┬───────────┬───────────┐
│ FOI_ID_LEV ┆ DATUM_BEE ┆ BEREKENDE ┆ BEREKENDE ┆ … ┆ BEREKENDE ┆ zone_id ┆ class_nam ┆ __index_l │
│ ERANCIER   ┆ LD        ┆ _WAARDE_N ┆ _WAARDE_S ┆   ┆ _WAARDE_N ┆ ---     ┆ e_late    ┆ evel_0__  │
│ ---        ┆ ---       ┆ DVI       ┆ AVI       ┆   ┆ DII       ┆ i64     ┆ ---       ┆ ---       │
│ i64        ┆ datetime[ ┆ ---       ┆ ---       ┆   ┆ ---       ┆         ┆ str       ┆ i64       │
│            ┆ ns]       ┆ f64       ┆ f64       ┆   ┆ f64       ┆         ┆           ┆           │
╞════════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═════════╪═══════════╪═══════════╡
│ 31196      ┆ 2023-01-1 ┆ 0.2570275 ┆ 0.0988373 ┆ … ┆ 0.074378  ┆ 1       ┆ Aardappel ┆ 0         │
│            ┆ 8         ┆           ┆           ┆   ┆           ┆         ┆ 2         ┆           │
│            ┆ 00:00:00  ┆           ┆           ┆   ┆           ┆         ┆           ┆           │
│ 31337      ┆ 2023-01-1 ┆ 0.208949  ┆ 0.076274  ┆ … ┆ -0.010468 ┆ 1       ┆ Aardappel ┆ 28        │
│            ┆ 8         ┆           ┆           ┆   ┆           ┆         ┆ 2         ┆           │
│            ┆ 00:00:00  ┆           ┆           ┆   ┆           ┆         ┆           ┆           │
│ 31198      ┆ 2023-01-1 ┆ 0.7838268 ┆ 0.447424  ┆ … ┆ 0.344325  ┆ 1       ┆ Graan 1   ┆ 57        │
│            ┆ 8         ┆           ┆           ┆   ┆           ┆         ┆           ┆           │
│            ┆ 00:00:00  ┆           ┆           ┆   ┆           ┆         ┆           ┆           │
│ 31199      ┆ 2023-01-1 ┆ 0.80806   ┆ 0.462732  ┆ … ┆ 0.3589    ┆ 1       ┆ Graan 1   ┆ 119       │
│            ┆ 8         ┆           ┆           ┆   ┆           ┆         ┆           ┆           │
│            ┆ 00:00:00  ┆           ┆           ┆   ┆           ┆         ┆           ┆           │
│ 31476      ┆ 2023-01-1 ┆ 0.195945  ┆ 0.075283  ┆ … ┆ -0.008749 ┆ 1       ┆ Bieten    ┆ 151       │
│            ┆ 8         ┆           ┆           ┆   ┆           ┆         ┆           ┆           │
│            ┆ 00:00:00  ┆           ┆           ┆   ┆           ┆         ┆           ┆           │
│ …          ┆ …         ┆ …         ┆ …         ┆ … ┆ …         ┆ …       ┆ …         ┆ …         │
│ 2668518    ┆ 2023-02-1 ┆ 0.354694  ┆ 0.136888  ┆ … ┆ -0.172689 ┆ 2       ┆ Mais      ┆ 19294141  │
│            ┆ 4         ┆           ┆           ┆   ┆           ┆         ┆           ┆           │
│            ┆ 00:00:00  ┆           ┆           ┆   ┆           ┆         ┆           ┆           │
│ 1082479    ┆ 2023-02-1 ┆ 0.8641258 ┆ 0.655512  ┆ … ┆ 0.4353706 ┆ 2       ┆ Graan 1   ┆ 19294672  │
│            ┆ 4         ┆           ┆           ┆   ┆           ┆         ┆           ┆           │
│            ┆ 00:00:00  ┆           ┆           ┆   ┆           ┆         ┆           ┆           │
│ 2050285    ┆ 2023-02-1 ┆ 0.811588  ┆ 0.5298628 ┆ … ┆ 0.3347638 ┆ 2       ┆ Graan 1   ┆ 19294696  │
│            ┆ 4         ┆           ┆           ┆   ┆           ┆         ┆           ┆           │
│            ┆ 00:00:00  ┆           ┆           ┆   ┆           ┆         ┆           ┆           │
│ 1135598    ┆ 2023-02-1 ┆ 0.475968  ┆ 0.207555  ┆ … ┆ 0.050078  ┆ 2       ┆ Graan 2   ┆ 19294720  │
│            ┆ 4         ┆           ┆           ┆   ┆           ┆         ┆           ┆           │
│            ┆ 00:00:00  ┆           ┆           ┆   ┆           ┆         ┆           ┆           │
│ 2224327    ┆ 2023-02-1 ┆ 0.491778  ┆ 0.219909  ┆ … ┆ -0.047076 ┆ 2       ┆ Graan 1   ┆ 19295757  │
│            ┆ 4         ┆           ┆           ┆   ┆           ┆         ┆           ┆           │
│            ┆ 00:00:00  ┆           ┆           ┆   ┆           ┆         ┆           ┆           │
└────────────┴───────────┴───────────┴───────────┴───┴───────────┴─────────┴───────────┴───────────┘

# COMBINE S1 and S2 interpolated data

In [2]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import polars as pl
from tqdm import tqdm
import dask.dataframe as dd

S1 = pd.read_parquet("/home/guilly/iTransformer/dataset/Netherlands/Netherlands_Sentinel1.parquet")
S2_1 = pd.read_parquet("/home/guilly/iTransformer/dataset/Netherlands/Netherlands_interpolated_df1.parquet")
S2_2 = pd.read_parquet("/home/guilly/iTransformer/dataset/Netherlands/Netherlands_interpolated_df2.parquet")
display(S1.head())
display(S2_1.head())
display(S2_2.head())

,date,FOI_ID_LEVERANCIER,BEREKENDE_WAARDE_VV_backscatter,BEREKENDE_WAARDE_VV_coherence,BEREKENDE_WAARDE_VH_backscatter
0,2023-01-02,338.0,-1.677232,0.0,-15.856924
1,2023-01-03,338.0,-1.263618,0.0,-15.842116
2,2023-01-04,338.0,-0.850004,0.0,-15.827308
3,2023-01-05,338.0,-0.436390,0.0,-15.812500
4,2023-01-06,338.0,-0.022776,0.0,-15.797692

,date,FOI_ID_LEVERANCIER,BEREKENDE_WAARDE_NDVI,BEREKENDE_WAARDE_SAVI,BEREKENDE_WAARDE_NDTI,BEREKENDE_WAARDE_ARVI,BEREKENDE_WAARDE_NDI7,BEREKENDE_WAARDE_NDII,zone_id_1,zone_id_2,...,class_name_late_Prei,class_name_late_Raap,class_name_late_Raapstelen,class_name_late_Rabarber,class_name_late_Sla,class_name_late_Uien,class_name_late_Vlas,class_name_late_Witlof,class_name_late_Wortel,class_name_late_Zaai Ui
0,2023-01-17,338.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2023-01-18,338.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2023-01-19,338.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2023-01-20,338.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2023-01-21,338.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

,date,FOI_ID_LEVERANCIER,BEREKENDE_WAARDE_NDVI,BEREKENDE_WAARDE_SAVI,BEREKENDE_WAARDE_NDTI,BEREKENDE_WAARDE_ARVI,BEREKENDE_WAARDE_NDI7,BEREKENDE_WAARDE_NDII,zone_id_1,zone_id_2,...,class_name_late_Prei,class_name_late_Raap,class_name_late_Raapstelen,class_name_late_Rabarber,class_name_late_Sla,class_name_late_Uien,class_name_late_Vlas,class_name_late_Witlof,class_name_late_Wortel,class_name_late_Zaai Ui
0,2023-01-17,1302442.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2023-01-18,1302442.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2023-01-19,1302442.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2023-01-20,1302442.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2023-01-21,1302442.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
S1 = pd.read_parquet("/home/guilly/iTransformer/dataset/Netherlands/Netherlands_Sentinel1.parquet")
S2_1 = pd.read_parquet("/home/guilly/iTransformer/dataset/Netherlands/Netherlands_interpolated_df1.parquet")
S2_2 = pd.read_parquet("/home/guilly/iTransformer/dataset/Netherlands/Netherlands_interpolated_df2.parquet")

# graan1, zaai ui, mais
classes = ["Graan 1", "Zaai Ui", "Knol", "Witlof", "Pioen"]
classes = ['Aardappel 2', 'Graan 1', 'Bieten', 'Aardappel 1', 'Bonen',
       'Klaver', 'Vlas', 'Gras 1', 'Papaver', 'Knol', 'Graan 2',
       'Zaai Ui', 'Oude Ui', 'Uien', 'Bonen 2', 'Kolen Zomer',
       'Drachtplant', 'Pompoenachtig', 'Kruid 1', 'Kool', 'Witlof',
       'Bessen', 'Bloemkool Winter', 'Asperge', 'Bloembol 2', 'Bloembos',
       'Knol en Kool', 'Boekweit', 'Pioen', 'Kruid 2', 'Bloembol 3',
       'Hennep', 'Knoflook', 'Bloembol 1', 'Prei', 'Afrikaantje',
       'Aaltjesvang', 'Fruit', 'Rabarber', 'Wortel', 'Dahlia', 'Paksoi']
print("amount of classes:", len(classes))
# Paksoi          18
# Echinacea        8
# Kwelderplant     8
# Inel. Palm       7
# Kleine Bloem     5
# Raap             4
# Karwijzaad       2
# Raapstelen       2
# Sla              1
for i, c in enumerate(classes):
    prefix = "class_name_late_" + c
    classes[i] = prefix

# maskS1 = (S1[classes]==1).any(axis=1)
maskS2_1 = (S2_1[classes]==1).any(axis=1)
maskS2_2 = (S2_2[classes]==1).any(axis=1)

# S1 = S1[maskS1]
S2_1 = S2_1[maskS2_1]
S2_2 = S2_2[maskS2_2]
class_columns = S2_1.columns.str.startswith("class_name_late")
class_columns = S2_1.columns[class_columns]

s = set(classes)
classes_to_drop = [x for x in class_columns if x not in s]
print(classes_to_drop)

maskS2_1 = (S2_1[classes_to_drop]==1).any(axis=1)
maskS2_2 = (S2_2[classes_to_drop]==1).any(axis=1)

# Drop the rows
S2_1 = S2_1[~maskS2_1]
S2_2 = S2_2[~maskS2_2]

S2_1.drop(columns=classes_to_drop, inplace=True)
S2_2.drop(columns=classes_to_drop, inplace=True)

date_range = pd.date_range(start='2023-01-17', end='2023-10-29', freq='5D')
# print(date_range)
# print(df['DATUM_BEELD'].max())

# Perform one-hot encoding on the 'class_name_late' column

# Convert 'datum_beeld' column to datetime type
# df_encoded['DATUM_BEELD'] = pd.to_datetime(df_encoded['DATUM_BEELD'])
S1['date'] = pd.to_datetime(S1['date'], format="%Y-%m-%d")
S2_1['date'] = pd.to_datetime(S2_1['date'], format="%Y-%m-%d")
S2_2['date'] = pd.to_datetime(S2_2['date'], format="%Y-%m-%d")

# Group the dataframe by 'FOI_ID_LEVERANCIER'
grouped = S2_1.groupby('FOI_ID_LEVERANCIER')
grouped2 = S2_2.groupby('FOI_ID_LEVERANCIER')

# Create an empty list to store the interpolated dataframes
interpolated_dfs = []
# display(df_encoded[df_encoded['FOI_ID_LEVERANCIER'] == 19317])

for i,g in enumerate([grouped, grouped2]):
    interpolated_dfs = []
    for group_name, group_df in tqdm(g):
        # Set 'DATUM_BEELD' as the index
        interpolated_group = group_df.set_index('date')

        # Resample to daily frequency
        # interpolated_group = group_df.resample('D').asfreq()
        # # Interpolate missing values
        # interpolated_group = interpolated_group.interpolate(method='linear')

        # Check if there are missing dates at the start
        if interpolated_group.index.min() > date_range[0]:
            missing_date_range_start = pd.date_range(start=date_range[0], end=interpolated_group.index.min() - pd.Timedelta(days=1), freq='D')
            missing_df_start = pd.DataFrame(index=missing_date_range_start)
            missing_df_start['FOI_ID_LEVERANCIER'] = group_name  # Add the group name to the missing rows
            interpolated_group = pd.concat([missing_df_start, interpolated_group])

        # Check if there are missing dates at the end
        if interpolated_group.index.max() < date_range[-1]:
            missing_date_range_end = pd.date_range(start=interpolated_group.index.max() + pd.Timedelta(days=1), end=date_range[-1], freq='D')
            missing_df_end = pd.DataFrame(index=missing_date_range_end)
            missing_df_end['FOI_ID_LEVERANCIER'] = group_name  # Add the group name to the missing rows
            interpolated_group = pd.concat([interpolated_group, missing_df_end])

        interpolated_group.fillna(0, inplace=True)
        # Select dates from date_range
        interpolated_group = interpolated_group.loc[date_range]

        interpolated_dfs.append(interpolated_group)

    # Concatenate the interpolated dataframes back into a single dataframe
    if i == 0:
        interpolated_df1 = pd.concat(interpolated_dfs)
    else:
        interpolated_df2 = pd.concat(interpolated_dfs)

amount of classes: 41
['class_name_late_Echinacea', 'class_name_late_Karwijzaad', 'class_name_late_Kwelderplant', 'class_name_late_Mais', 'class_name_late_Paksoi', 'class_name_late_Raap', 'class_name_late_Raapstelen', 'class_name_late_Sla']

100%|██████████| 60966/60966 [02:14<00:00, 454.52it/s]
100%|██████████| 61701/61701 [02:08<00:00, 479.37it/s]

In [4]:
S2_total = pd.concat([interpolated_df1, interpolated_df2])

In [5]:
print(len(S2_total))
S2_total.reset_index(inplace=True)

S2_total.loc[S2_total['zone_id_3'] == 1]
S2_total.head()
S2_total.rename(columns={"index": "date"}, inplace=True)
S2_total['date'] = pd.to_datetime(S2_total['date'], format="%Y-%m-%d")
S2_total.head()

7114686

,date,FOI_ID_LEVERANCIER,BEREKENDE_WAARDE_NDVI,BEREKENDE_WAARDE_SAVI,BEREKENDE_WAARDE_NDTI,BEREKENDE_WAARDE_ARVI,BEREKENDE_WAARDE_NDI7,BEREKENDE_WAARDE_NDII,zone_id_1,zone_id_2,...,class_name_late_Papaver,class_name_late_Pioen,class_name_late_Pompoenachtig,class_name_late_Prei,class_name_late_Rabarber,class_name_late_Uien,class_name_late_Vlas,class_name_late_Witlof,class_name_late_Wortel,class_name_late_Zaai Ui
0,2023-01-17,338.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2023-01-22,338.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2023-01-27,338.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2023-02-01,338.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2023-02-06,338.0,0.309891,0.160028,0.094616,0.198018,0.087145,-0.007402,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
# BEREKENDE_WAARDE_VV_backscatter	BEREKENDE_WAARDE_VV_coherence	BEREKENDE_WAARDE_VH_backscatter
def preprocess(merged_df, path):
    data = pd.read_parquet(path)
    data['date'] = pd.to_datetime(data['date'], format="%Y-%m-%d")
    lazy_data = pl.from_pandas(data)
    # lazy_data = lazy_data.with_column(pl.col("date").strptime(fmt="%Y-%m-%d").alias("date"))
    col_to_use = ["FOI_ID_LEVERANCIER", "date", "TYPE_WAARDE", "BEREKENDE_WAARDE"]

# Perform the left join operation
    merged_df = merged_df.join(lazy_data.select(pl.col(["FOI_ID_LEVERANCIER", "date", "BEREKENDE_WAARDE_VH_backscatter", "BEREKENDE_WAARDE_VV_coherence", "BEREKENDE_WAARDE_VV_backscatter"])),
                                on=["FOI_ID_LEVERANCIER", "date"], how="outer").drop(["FOI_ID_LEVERANCIER_right", "date_right"])

    # name = lazy_data.select(pl.first("SOORT_SIGNAAL")).collect()[0][0]
    # merged_df = merged_df.rename({"BEREKENDE_WAARDE": "BEREKENDE_WAARDE_" +str(name.item())})
    # merged_df.headc ().collect()
    return merged_df

# merged_df = pl.scan_parquet('/home/guilly/iTransformer/dataset/Netherlands/Netherlands_interpolated_df1.parquet')
# merged_df = pl.scan_csv("/home/guilly/iTransformer/dataset/Netherlands/S1_VV_2023.csv")
merged_df = pl.from_pandas(S2_total)
path = "/home/guilly/iTransformer/dataset/Netherlands/Netherlands_Sentinel1.parquet"
merged_df = preprocess(merged_df, path)

/tmp/ipykernel_1123/3065054493.py:10: DeprecationWarning: Use of `how='outer'` should be replaced with `how='full'`.
  merged_df = merged_df.join(lazy_data.select(pl.col(["FOI_ID_LEVERANCIER", "date", "BEREKENDE_WAARDE_VH_backscatter", "BEREKENDE_WAARDE_VV_coherence", "BEREKENDE_WAARDE_VV_backscatter"])),

In [7]:
pandas_df = merged_df.to_pandas()
unique_counts = pandas_df['FOI_ID_LEVERANCIER'].nunique()

In [8]:
pandas_df = pandas_df.dropna(subset=['FOI_ID_LEVERANCIER'])
pandas_df.fillna(0, inplace=True)
pandas_df.head()

,date,FOI_ID_LEVERANCIER,BEREKENDE_WAARDE_NDVI,BEREKENDE_WAARDE_SAVI,BEREKENDE_WAARDE_NDTI,BEREKENDE_WAARDE_ARVI,BEREKENDE_WAARDE_NDI7,BEREKENDE_WAARDE_NDII,zone_id_1,zone_id_2,...,class_name_late_Prei,class_name_late_Rabarber,class_name_late_Uien,class_name_late_Vlas,class_name_late_Witlof,class_name_late_Wortel,class_name_late_Zaai Ui,BEREKENDE_WAARDE_VH_backscatter,BEREKENDE_WAARDE_VV_coherence,BEREKENDE_WAARDE_VV_backscatter
15,2023-01-17,338.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-20.117147,0.839290,-3.462690
20,2023-01-22,338.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-18.102193,0.782836,-3.374581
25,2023-01-27,338.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-18.650343,0.726381,-2.519252
30,2023-02-01,338.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-18.920067,0.694144,-2.436046
35,2023-02-06,338.0,0.309891,0.160028,0.094616,0.198018,0.087145,-0.007402,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-21.466324,0.700276,-4.414380

In [9]:
pandas_df.to_csv("/home/guilly/iTransformer/dataset/Netherlands/Netherlands_S1+2_5days_allClasses_no_mais.csv")

:

In [24]:
print(len(date_range))
pandas_df[pandas_df['FOI_ID_LEVERANCIER'] == 375.0]

36

Empty DataFrame
Columns: [date, FOI_ID_LEVERANCIER, BEREKENDE_WAARDE_NDVI, BEREKENDE_WAARDE_SAVI, BEREKENDE_WAARDE_NDTI, BEREKENDE_WAARDE_ARVI, BEREKENDE_WAARDE_NDI7, BEREKENDE_WAARDE_NDII, zone_id_1, zone_id_2, zone_id_3, zone_id_4, zone_id_5, zone_id_6, zone_id_7, zone_id_8, zone_id_9, zone_id_10, class_name_late_Graan 1, class_name_late_Knol, class_name_late_Pioen, class_name_late_Witlof, class_name_late_Zaai Ui, BEREKENDE_WAARDE_VH_backscatter, BEREKENDE_WAARDE_VV_coherence, BEREKENDE_WAARDE_VV_backscatter]
Index: []

[0 rows x 26 columns]

In [3]:
import pandas as pd
s = pd.read_parquet("/home/guilly/iTransformer/dataset/Netherlands/preprocessed_data.parquet")
s.groupby("FOI_ID_LEVERANCIER").count()

,DATUM_BEELD,BEREKENDE_WAARDE_NDVI,BEREKENDE_WAARDE_SAVI,BEREKENDE_WAARDE_NDTI,BEREKENDE_WAARDE_ARVI,BEREKENDE_WAARDE_NDI7,BEREKENDE_WAARDE_NDII,zone_id,class_name_late
FOI_ID_LEVERANCIER,,,,,,,,,
338,14,14,14,14,14,14,14,14,14
339,24,24,24,24,24,24,24,24,24
340,25,25,25,25,25,25,25,25,25
349,13,13,13,13,13,13,13,13,13
350,15,15,15,15,15,15,15,15,15
...,...,...,...,...,...,...,...,...,...
2789489,31,31,31,31,31,31,31,31,31
2789493,25,25,25,25,25,25,25,25,25
2789495,30,30,30,30,30,30,30,30,30
2789497,24,24,24,24,24,24,24,24,24
2789500,27,27,27,27,27,27,27,27,27

In [6]:
g = pd.read_csv("/home/guilly/iTransformer/dataset/guilly_foi_crop_export.csv")
g = g[g["class_name_late"]!= "Gras 2"]
g = g[g["class_name_late"]!= "Gras 1"]

unique_values = s['class_name_late'].unique()
unique_values

array(['Aardappel 2', 'Graan 1', 'Bieten', 'Aardappel 1', 'Bonen',
       'Klaver', 'Vlas', 'Gras 1', 'Papaver', 'Mais', 'Knol', 'Graan 2',
       'Zaai Ui', 'Oude Ui', 'Uien', 'Bonen 2', 'Kolen Zomer',
       'Drachtplant', 'Pompoenachtig', 'Kruid 1', 'Kool', 'Witlof',
       'Bessen', 'Bloemkool Winter', 'Asperge', 'Bloembol 2', 'Bloembos',
       'Knol en Kool', 'Boekweit', 'Pioen', 'Kruid 2', 'Bloembol 3',
       'Hennep', 'Knoflook', 'Bloembol 1', 'Prei', 'Afrikaantje',
       'Aaltjesvang', 'Fruit', 'Rabarber', 'Wortel', 'Raap', 'Dahlia',
       'Echinacea', 'Kwelderplant', 'Paksoi', 'Raapstelen', 'Karwijzaad',
       'Sla'], dtype=object)

In [13]:
counts = g['class_name_late'].value_counts()
print(counts.tail(10))
counts2 = s['class_name_late'].value_counts()
counts2.tail(10)

class_name_late
Wortel          21
Paksoi          18
Echinacea        8
Kwelderplant     8
Inel. Palm       7
Kleine Bloem     5
Raap             4
Karwijzaad       2
Raapstelen       2
Sla              1
Name: count, dtype: int64

class_name_late
Dahlia          786
Aaltjesvang     592
Wortel          452
Paksoi          263
Kwelderplant    217
Echinacea       153
Raap             76
Raapstelen       58
Karwijzaad       55
Sla              20
Name: count, dtype: int64

In [11]:
print(len(counts))

73